<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SocDev</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/slider_css.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/et-line-font.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-circle">
       <div class="sk-circle1 sk-circle"></div>
       <div class="sk-circle2 sk-circle"></div>
       <div class="sk-circle3 sk-circle"></div>
       <div class="sk-circle4 sk-circle"></div>
       <div class="sk-circle5 sk-circle"></div>
       <div class="sk-circle6 sk-circle"></div>
       <div class="sk-circle7 sk-circle"></div>
       <div class="sk-circle8 sk-circle"></div>
       <div class="sk-circle9 sk-circle"></div>
       <div class="sk-circle10 sk-circle"></div>
       <div class="sk-circle11 sk-circle"></div>
       <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand">SocDev</a>
		</div>
		
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="index.html" class="smoothScroll">HOME</a></li>
				<li><a href="index.html#work" class="smoothScroll">DEVELOPERS</a></li>
				<li><a href="index.html#portfolio" class="smoothScroll">PROJECTS</a></li>
				<li><a href="login.html" class="smoothScroll">SIGN IN / SIGN UP</a></li>
				<li><a href="about.html" class="smoothScroll">ABOUT</a></li>
				<li><a href="index.html#contact" class="smoothScroll">CONTACT</a></li>
			</ul>
		</div>
	</div>
</section>
<div class="login-wrapper"></div>
 

<div class="pen-title"></div>
<!-- Form Module-->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="col-sm-12">
					<div class="col-sm-12 profile-header">
					<div class="column">
						<img src="images/profile-image.png" class="profile-image">
						<button type="button" class="btn btn-secondary btn-sm" style="font-size: 18px;">Hire Me</button>
					</div>
					<div class="column">
						<p style="margin-top: 15px;">Name:<span class="developer_name employer_name">Username</span></p>
						<p>Email:<span>Email@gmail.com</span></p>
						<p>Phone:<span>+39 39 39 39 39</span></p>
						<p>Sex:<span>Male/Female</span></p>
						<p>Skill:<span>Html</span></p>
						<p>Level:<span>8</span></p>
					</div>
					<div class="column">
						<p>About me</p>
						<p style="font-style: italic;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
					</div>
					</div>
					<hr>
				</div>
							<div class="smallwrap"></div>

				    <table class="table table-hover">
					    <thead>
					      <tr>
					        <th>Skills</th>
					        <th>Projects</th>
					        <!-- <th>Invitations</th>
					        <th>Proposal</th>
					        <th>Applications</th>
					        <th>Offers</th> -->
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>Skill</td>
					        <td><a href="project-page.html">Project Name</a></td>
					        <!-- <td><a href="#">Invitation</a></td>
					        <td><a href="#">Proposal</a></td>
					        <td><a href="#">Application</a></td>
					        <td><a href="#">Offers</a></td> -->
					      </tr>
					      <tr>
					        <td>Skill</td>
					        <td><a href="project-page.html">Project Name</a></td>
					        <!-- <td><a href="#">Invitation</a></td>
					        <td><a href="#">Proposal</a></td>
					        <td><a href="#">Application</a></td>
					        <td><a href="#">Offers</a></td> -->
					      </tr>
					      <tr>
					        <td>Skill</td>
					        <td><a href="project-page.html">Project Name</a></td>
					        <!-- <td><a href="#">Invitation</a></td>
					        <td><a href="#">Proposal</a></td>
					        <td><a href="#">Application</a></td>
					        <td><a href="#">Offers</a></td> -->
					      </tr>
					    </tbody>
				    </table>
				    <!-- <div class="profile-header"><h1>TASKS</h1></div>
				    <table class="table table-hover">
					    <thead>
					      <tr>
					        <th>Name</th>
					        <th>Project</th>
					        <th>Date</th>
					        <th>Status</th>
					        <th>Offers</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>Task Name</td>
					        <td><a href="#">Project</a></td>
					        <td>22/06/2017</td>
					        <td>Open</td>
					        <td><a href="#">Offers</a></td>
					      </tr>
					      <tr>
					        <td>Task Name</td>
					        <td><a href="#">Project</a></td>
					        <td>22/06/2017</td>
					        <td style="text-decoration: line-through;">Done</td>
					        <td><a href="#">Offers</a></td>
					      </tr>
					      <tr>
					        <td>Task Name</td>
					        <td><a href="#">Project</a></td>
					        <td>22/06/2017</td>
					        <td>Process</td>
					        <td><a href="#">Offers</a></td>
					      </tr>
					    </tbody>
				    </table> -->
			</div>
		</div>
	</div>
</section>


    <script src="js/index.js"></script>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Project for Web Engineering</p>
				<hr>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/isotope.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/login.js"></script>
<script src="js/clonedivs.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>
</html>
