<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.socialdevelop.mappers.TaskMapper" >
    
    <resultMap id="resultListSkillsTask" type="com.socialdevelop.entities.Tasks">
        <result property="idTask" column="idTask"/>
        <result property="idProject" column="idProject"/>
        <collection property="skillList" column="idSkill" ofType="com.socialdevelop.entities.Skills" javaType="ArrayList">
            <result property="skillName" column="skillName"/>
            <result property="level" column="level"/>
        </collection>
    </resultMap>
    
    <select id="getListSkillsTask" resultMap="resultListSkillsTask">
        SELECT * FROM tblTasks 
        INNER JOIN tblTasksSkillsLevel ON tblTasks.idTask=tblTasksSkillsLevel.idTask 
        INNER JOIN tblSkills ON tblSkills.idSkill=tblTasksSkillsLevel.idSkill 
        WHERE tblTasks.idProject=#{idProject}
    </select>
    
</mapper>